

body{
    background-color: #303030;
    background-position: center, center;
    size: 100%;
    margin: 0%;
    width: 100%;
    padding-top: 0%;
}

.imgDiv1{
    text-align: center;
    z-index: 1;
    width: 100%;
    height: 0%;
}

.img1{
    position: inherit;
    object-position: 0px -180px;
    width: 100%;
}

.compass{
    position: absolute;
    background-color: white;
    display: flex;
    justify-content: flex-end;
    z-index: 5;
    width: 100%;
    height: 10%;
}

.homeBtnImg:hover{
    scale: 120%;
}

.LogInBtnImg:hover{
    scale: 120%;
}

.homeBtnImg{
    position: inherit;
    width: 80%;
    height: 80%;
}

.LogInBtnImg{
    position: inherit;
    width: 80%;
    height: 80%;
    margin-top: 5%;
}

.whiteBox{
    background-color: white;
    position: absolute;
    z-index: 5;
    margin-top: -50%;
    margin-left: 12.5%;
    width: 75%;
    height: 200%;
    padding: 15px;
}

.formLayout{
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(2, fr);
    justify-content: space-between;
}

.txtInput{
    margin-top: 5%;
    margin-left: 5%;
    font-size: 25px;
    width: 300px;
    font-family:'Gill Sans MT';
}

.card{
    width: 400px;
    height: 100px;
}

.spacer{
    width: 800px;
    height: 50px;
}

.IDTICC{
    background-color: #e2e2e2;
    text-align: center;
    padding-top: 50px;
    margin-left: 15%;
    width: 70%;
    height: 250px;
}

.IDTICChover:hover{
    scale: 120%;
}

.submit{
    padding-top: 30px;
    padding-left: 30px;
    margin-left: 0%;
    width: 300px;
    height: 100px;
}

.button{
    scale: 120%;
    margin-left: 0%;
    width: 80px;
}

.txtLeft{
    z-index: 6;
    margin-top: 10px;
    margin-left: 30px;
    font-size: 25px;
    font-family:'Gill Sans MT';
}


